@import url(https://api.fontshare.com/v2/css?f[]=nunito@400&f[]=melodrama@500&display=swap);

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #334964;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #2c60a0;
    transition: 0.3s;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #214776;
  }

* {
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    display: flex;
}

body {
    background: #072345;
    width: 100%;
    overflow-x: hidden;
}

.topText {
    margin: auto;
    text-align: center;
}

.title {
    font-family: 'Melodrama', serif;
    color: #FBF4DD;
    font-size: 10vw;
    padding-bottom: 0px;
    text-shadow: 3px 3px #85C7F2;
}

.bodyText {
    font-family: 'Nunito', sans-serif;
    color: #FBF4DD;
    font-size: 2rem;
    text-shadow: 2px 2px #85C7F2;
}

.scrollText {
    font-family: 'Melodrama', serif;
    color: #FBF4DD;
}

.buttonContainer {
    border: 5px solid #FBF4DD;
    border-radius: 10px;
    background-color: #072345;
    opacity: 80%;
    transition: 0.3s;
    position: relative;
    bottom: 3%;
    transition: 0.3s;
    width: fit-content;
    display: flex;
    align-items: center;
}

.listenButton,
.listenIcon {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s;
    color: green;
}

.buttonContainer:hover {
    background-color: red;
    .listenButton,
    .listenIcon {
        color: #072345;
    }
}

.textBoxContainer {
    border: 5px solid#FBF4DD;
    height: 80vh;
    width: 95vw;
    border-radius: 10px;
    display: flex;
}

.rawContainer,
.notesContainer {
    background-color: #3566a193;
    height: 96.6%;
    width: 50%;
    color: #FBF4DD  ;
    font-family: 'Nunito', sans-serif;
    padding: 10px;
    border-radius: 0%;
    opacity: 80%;
}

.rawLabel,
.notesLabel {
    font-size: 20px;
    padding: 5px;
}

.rawContainer {
    border-right: 5px solid #6495d293;
}


.listenerDiv {
    margin: 7vh auto;
}

.rawDiv {
    color: #FBF4DD
}

.headingBar {
    display: flex;
    align-items: center;
    border-bottom: 5px dashed #6495d293;
}

.delete {
    margin-left: 35vw;
    color: red;
    cursor: pointer;
}

.rawTextDiv,
.notesTextDiv {
    margin-top: 1vh;
    overflow-y: auto;
    height: 70vh;
}

.bubble {
    width: 500px;
    height: 500px;
    background: linear-gradient(0, blue, red);
    border-radius: 300px;
    position: fixed;
    z-index: -1;
    filter: blur(10px);

}

.topLeft {
    translate: -50% -50%;
    animation: morph1 20s infinite;
}

.bottomRight {
    translate: 230% 100%;
    animation: morph2 20s infinite;
}

@keyframes morph1 {
    from {
        rotate: 0deg;
    }
    50% {
        height: 110%;
    }
    to {
        rotate: 360deg; 
    }
}

@keyframes morph2 {
    from {
        rotate: 0deg;
    }
    75% {
        height: 110%;
        translate: 230% 50%
    }
    to {
        rotate: 360deg; 
    }
}

